MONGODB_URI=mongodb+srv://Mirshad:Mirs1234@cluster0.xzloh.mongodb.net/smartcampus?retryWrites=true&w=majority

MONGODB_DATABASE=smart_campus_db
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CLIENT_SCOPE=email,profile
JWT_SECRET=your-super-long-secret-key-here
